.topic {
  padding: 20px;
}

#internships {
  width: 100%;
  top: 102px;
  position: relative;
  padding-bottom: 50px;
}

#internships .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  /*background-image: url('../images/experiences/internships/asiaplus/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  opacity: 0.7;
  z-index: -1;
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
  -o-filter: brightness(2);
  -ms-filter: brightness(2);
  filter: brightness(2);
}

#works {
  width: 100%;
  position: relative;
}

#works .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  /*background-image: url('../images/experiences/works/pga/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  opacity: 0.7;
  z-index: -1;
  -webkit-filter: contrast(2);
  -moz-filter: contrast(2);
  -o-filter: contrast(2);
  -ms-filter: contrast(2);
  filter: contrast(2);
}

.company-logo {
  width: 50%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
  position: relative;
}

.company-logo img {
  width: 50%;
  padding: 20px;
  box-shadow: 0 3px 2px rgba(1, 1, 1, 1);
}

@media screen and (max-width:992px)  {
  .company-logo {
    width: 100%;
    height: 100%;
  }

  .topic {
    padding: 20px;
  }
}

.table-responsive {
  padding: 0px;
  background-color: rgba(255, 255, 255, .8);
}

th, td {
  color: #02555A;
}

.separate-section {
  width: 100%;
  height: 50px;
  background-color: #001852;
  opacity: 0.8;
  color: white;
  margin-top: 102px;
}
