body {
  margin: 0px;
}

.topic {
  text-align: center;
  padding: 50px;
}

.sub-topic {
  text-align: left;
  padding-left: 20px;
}

.work-images div a img {
  width: 100%;
  padding: 10px;
}

.work-images div a p {
  text-align: center;
  font-size: 15px;
  font-style: oblique;
}

#skills  {
  width: 100%;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.2);
}

#contact {
  width: 100%;
  color: white;
  background-color: black;
}

#map {
  width: 100%;
  height: 400px;
}

#credit{
  width: 100%;
  padding: 50px;
  color: gray;
  text-align: center;
  background-color: black;
  z-index: 1000;
}
/*
@media screen and (max-width:992px) {
  #contact {
    height: 800px;
  }
}*/
