body {
  margin: 0px;
}

.topic {
  text-align: center;
  padding: 10px;
}

.sub-topic {
  text-align: left;
  padding-left: 20px;
}

.works-images {
  /*position: relative;*/
  width: 100%;
}

.works-images img {
  /*position: absolute;*/
  width: 100%;
}

#contact {
  width: 100%;
  height: 600px;
  color: white;
  background-color: black;
}

#map {
  width: 100%;
  height: 400px;
}

#credit{
  width: 100%;
  padding: 50px;
  color: gray;
  text-align: center;
  background-color: black;
}

@media screen and (max-width:992px) {
  #contact {
    height: 800px;
  }
}
