/* jssor slider bullet navigator skin 13 css */
/*
.jssorb13 div           (normal)
.jssorb13 div:hover     (normal mouseover)
.jssorb13 .av           (active)
.jssorb13 .av:hover     (active mouseover)
.jssorb13 .dn           (mousedown)
*/
.jssorb13 {
    position: absolute;
    background-color: gray;
    opacity: 0.5;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    background: url('../images/b13.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }

.slider {
  display: none;
}

.screen-shots {
  display: block;
  width: 100%;
  padding: 10px;
}

.screen-shot-header{
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
}

.screen-shots div img {
  width: 100%;
  padding: 10px;
}

.screen-shots img {
  width: 100%;
}
@media screen and (max-width: 992px){
  .slider {
    display: inline;
  }

  .screen-shots {
    display: none;
  }
}
